@mixin motion {
  --ease-drop: cubic-bezier(0, 0, 0.29, 1);
  --ease-spring: cubic-bezier(0.2, 1.5, 0.35, 1);

  --time-pop: 100ms;
  --time-hover: 150ms;
  --time-default: 200ms;
  --time-label: 250ms;
  --time-fade: 300ms;
  --time-bounce: 420ms;
  --time-screen: 500ms;
  --time-flash: 600ms;
  --time-rock: 2400ms;
  --time-spin: 1000ms;

  --delay-stagger: 100ms;
  --delay-label: 500m;
  --delay-drop: 200ms;
}

@mixin reduced {
  @media (prefers-reduced-motion: reduce) {
    --time-pop: 0ms;
    --time-bounce: 0ms;
    --time-flash: 0ms;
    --time-rock: 0ms;
    --time-fade: 0ms;
    --time-screen: 0ms;
    --time-stagger: 0ms;
    --time-drop: 0ms;

    @content;
  }
}
